@import url(https://fonts.googleapis.com/css?family=Roboto);@font-face {
  font-family: scene;
  src: url("../fonts/SceneAH-Medium.otf");
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif !important;
}

.bottomMenu {
  width: inherit;
  height: 8vh;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5vw 0 5vw;
}

.bottomMenu .hamburgerIcon {
  height: 3vh;
}

.choicesContaier {
  width: inherit;
  height: 42vh;
  background: #FFFFFF;
}

.choicesContaier .locationText-1, .choicesContaier .locationText-2 {
  width: inherit;
  height: 8vh;
  padding: 2vh 5vw 0 5vw;
  color: #1E1E1E;
  font-family: Arial;
  font-size: 17px;
  line-height: 19px;
}

.choicesContaier .locationText-2 {
  padding: 0 5vw 0 5vw;
}

.choicesContaier .chooseCampus {
  height: 8vh;
  width: inherit;
  background: yellow;
}

.choicesContaier .chooseBuilding {
  height: 8vh;
  width: inherit;
  background: purple;
}

.choicesContaier .forwardsBackwardsContainer {
  width: inherit;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choicesContaier .forwardsBackwardsContainer .leftArrowContainer, .choicesContaier .forwardsBackwardsContainer .rightArrowContainer {
  height: inherit;
  width: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #141414;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 0.08px;
  line-height: 12px;
  text-decoration: none;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.map {
  width: inherit;
  height: 50vh;
}

.popupCampus, .popupBuilding {
  color: #FBFBFB;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.16px;
  line-height: 21px;
  margin-left: 5vw;
}

.popupBuilding {
  margin-bottom: 5vh;
}

.popupAdress {
  color: #FBFBFB;
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 1.38px;
  line-height: 14px;
  margin: 2vh 0 0 5vw;
}

/* The location pointed to by the popup tip. */
.popup-tip-anchor {
  height: 0;
  position: absolute;
  /* The max width of the info window. */
  width: 200px;
}

/* The bubble is anchored above the tip. */
.popup-bubble-anchor {
  position: absolute;
  width: 100%;
  bottom: 8px;
  left: 0;
}

/* Draw the tip. */
.popup-bubble-anchor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  /* Center the tip horizontally. */
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
  width: 0;
  height: 0;
  /* The tip is 8px high, and 12px wide. */
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
  border-top: 4vh solid transparent;
}

/* The popup bubble itself. */
.popup-bubble-content {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-51%, -80%);
          transform: translate(-51%, -80%);
  /* Style the info window. */
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: sans-serif;
  overflow-y: auto;
  height: 18vh;
  width: 83vw;
  background-image: url("../images/popup_map.svg");
  background-size: cover;
}

.continueContainer {
  width: inherit;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1vh;
}

.continueContainer .continueIcon {
  height: 4vh;
  width: 20vh;
  opacity: 0.5;
  margin-right: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.continueContainer .continueButton {
  pointer-events: none;
  text-decoration: none;
}

.continueContainer img {
  margin-left: 4vw;
}

.imagePreview {
  width: 100vw;
  height: 56vh;
  background: #E9EFE9;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.selectedImage {
  width: 100vw;
  height: 56vh;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.urgentContainer {
  width: inherit;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2vh;
}

.urgentIconSmall {
  height: inherit;
  width: 5vh;
  margin-left: 3vw;
}

.hamburger {
  height: inherit;
  width: 5vh;
  margin-right: 3vw;
}

.inputContainer {
  width: 100vw;
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fileSelect {
  height: 15vh;
  width: 15vh;
}

.fileSelect:hover {
  cursor: pointer;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  overflow: hidden;
}

.bottomContianer {
  height: 44vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tooManyContainer {
  width: 100vw;
  height: 56vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.tooMany {
  height: 20vh;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  color: white;
  -webkit-transform: translateY(-430px);
          transform: translateY(-430px);
}

.modalOverlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: black;
  opacity: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.urgentModalContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.urgentModal {
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70vh;
  width: 87vw;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  overflow: hidden;
  -webkit-transform: translateX(-900px);
          transform: translateX(-900px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.urgentModal .urgentHeader {
  width: 100%;
  height: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.urgentModal .urgentHeader .closeUrgentModalIcon {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  pointer-events: visible;
  z-index: 999999;
}

.urgentModal .urgentHeader .urgentIcons {
  position: relative;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.urgentModal .urgentHeader .urgentIcons .largeWarningIcon {
  width: 100%;
  height: 60%;
}

.urgentModal .urgentHeader .urgentIcons .smallIcons {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}

.urgentModal .urgentHeader .urgentIcons .smallIcons img {
  height: 100%;
  width: 25%;
}

.urgentModal .urgentText p {
  font-size: 16px;
}

.urgentModal .urgentChooseArea.top {
  top: 0;
}

.urgentModal .urgentChooseArea {
  position: absolute;
  height: 7%;
  margin-bottom: 3%;
  pointer-events: visible;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
}

.urgentModal .urgentChooseArea .wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.urgentModal .urgentChooseArea .parent {
  height: 100%;
  width: 100%;
  display: block;
  cursor: pointer;
  line-height: 30px;
  height: 30px;
  border-bottom: 1px solid #00A388;
  background-color: #fff;
  color: #000;
  z-index: 999;
  position: relative;
  -webkit-transition: border-radius 0.1s linear, background 0.1s linear, z-index 0s linear;
  -webkit-transition-delay: 0s;
  text-align: left;
  font-size: 18px;
}

.urgentModal .urgentChooseArea .parent .expand-icon {
  float: right;
  margin-right: 10%;
  width: 12px;
  height: 12px;
}

.urgentModal .urgentChooseArea .parent .expand-icon img {
  height: 100%;
  width: 100%;
}

.urgentModal .urgentChooseArea .content {
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  padding-top: 30px;
  -webkit-transition: max-height 0.4s linear;
  transition: max-height 0.4s linear;
}

.urgentModal .urgentChooseArea .content.active {
  z-index: 3;
  max-height: 65vh;
  overflow: scroll;
}

.urgentModal .urgentChooseArea .content ul {
  background: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

.urgentModal .urgentChooseArea .content ul a {
  text-decoration: none;
}

.urgentModal .urgentChooseArea .content li:hover {
  background-color: #dfdfdf !important;
}

.urgentModal .urgentChooseArea .content li {
  list-style: none;
  text-align: left;
  color: #888;
  font-size: 14px;
  height: 8vh;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.urgentModal .urgentChooseArea .content li .campus_name {
  font-size: 16px;
}

.urgentModal .urgentChooseArea .content li .campus_telephone {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1%;
}

.urgentModal .urgentChooseArea .content li .campus_telephone img {
  margin-right: 4%;
}

.urgentModal .urgentChooseArea .content li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.info {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2vh 0 2vh;
}

.info .infoIcon {
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .infoIcon img {
  height: inherit;
}

.info .infoH1 {
  color: #313131;
  font-family: 'scene';
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

.info .infoH2 {
  color: #1E1E1E;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
}

.info .infoText {
  color: #1E1E1E;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.info .infoArrow {
  height: 7vh;
}

.info .infoArrow img {
  height: inherit;
}

.instructions {
  height: inherit;
  width: inherit;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3vh 0 3vh;
}

.instructions .instructionsIcon {
  height: 14vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.instructions .instructionsIcon img {
  height: inherit;
}

.instructions .instructionsH1 {
  color: #313131;
  font-family: 'scene';
  font-size: 32px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
}

.instructions .instructionsList {
  color: #1E1E1E;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.instructions .instructionsList ol {
  margin: 0;
}

.instructions .instructionsList ol li {
  margin-top: 1vh;
}

.instructions .instructionsText {
  color: #1E1E1E;
  font-family: Arial;
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
  text-align: center;
}

.instructions .infoArrow {
  height: 7vh;
}

.instructions .infoArrow img {
  height: inherit;
}

.hamburgerMenu {
  height: 44vh;
  width: inherit;
  background: #00A388;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -100vw;
}

.hamburgerMenu .myErrorReports, .hamburgerMenu .myAccount, .hamburgerMenu .logOut {
  color: #FFFFFF;
  font-family: "scene";
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
}
