.info {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 2vh 0 2vh;

  .infoIcon {
    height: 14vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: inherit;
    }
  }

  .infoH1 {
    color: #313131;
    font-family: 'scene';
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
  }

  .infoH2 {
    color: #1E1E1E;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
  }

  .infoText {
    color: #1E1E1E;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
  }

  .infoArrow {
    height: 7vh;

    img {
      height: inherit;
    }
  }
}
