.urgentContainer {
  width: inherit;
  height: 8vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);


  .urgentIconSmall {
    height: inherit;
    width: 5vh;
    margin-left: 3vw;
  }

  .hamburger {
    height: inherit;
    width: 5vh;
    margin-right: 3vw;
    z-index: 200;
  }

  .hamburgerClose {
    height: 4vh;
    width: 4.3vh;
    margin-right: 3vw;
    z-index: 200;
    display: none;
    margin-top: 2vh;
  }
}
