.tooManyContainer {
  width: 100vw;
  height: 56vh;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: -21vh;
  z-index: 5000;
  display: none;

  .tooMany {
    height: 20vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $primary;
    color: white;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
    padding: 3vh;
    text-align: center;

    p {
      font-family: Arial;
      font-size: 18px;
      line-height: 20px;
      margin: 0;
    }

    h1 {
      font-family: 'scene';
      letter-spacing: 2px;
      line-height: 26px;
      font-weight: normal;
    }
  }
}
